#back_office span {
    color: #a44a4a;
    font-weight: 900;
}

#back_office h1 {
    font-family: 'Handlee', cursive;
    color: white;
    margin-top: 50px;
    margin-left: 150px;
}

#back_office .modal h1 {
    margin: 0;
    color: black;
}

#back_office .accordion {
    padding: 100px 0 !important;
}

#back_office .accordion-body {
    text-transform: capitalize;
}

#back_office .accordion-button:focus {
    box-shadow: 0 0 1px #b85656;
}

#back_office .accordion-button:not(.collapsed) {
    background-color: #b85656;
    box-shadow: 0 0 3px #b85656;
    color: white;
}

#back_office td img:hover {
    transform: scale(1.1);
}

#back_office td img {
    all: unset;
    transition: 0.1s;
    width: 30px;
    height: auto;
    color: yellow;
}

.modif_backoffice {
    align-items: baseline;
}

.modif_backoffice img {
    cursor: pointer !important;
}

.modif_backoffice a {
    margin-left: 5px;
}

.modif_backoffice .modal label{
    text-transform: initial;
    font-weight: bold;
}

#back_office form select {
    text-transform: capitalize;
}

#back_office td {
    height: 70px;
}

.span_full_desc u {
    cursor: pointer;
}

.span_full_desc {
    display: flex;
    justify-content: space-between;
}